@model FakeNewsWeb.Models.HomeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var headlineStyles = new[] {"hl3", "hl5", "hl1", "hl3", "hl1"};
    var subTitles = new[] {"JOHANN WOLFGANG VON GOETHE", "RHONDA BRADLEY", "ROXANNE ALVAREZ", "CONRAD WEBER", "FRANZ KAFKA"};
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/newspaper.css">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@Model.Title</title>
</head>
<body>
<div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox">
            <span style="font-style: italic;">Weather forecast for the next 24 hours: Plenty of Sunshine</span><br><span>Wind: 7km/h SSE; Ther: 21°C; Hum: 82%</span>
        </div>
        <header>@Model.Title</header>
    </div>

    <div class="subhead">SAINT LOUIS, MO - @(DateTime.Now.ToString("dddd MMMM d, yyyy")) - Seven Pages</div>
</div>
<div class="content">
    <div class="columns">
        @for (var i = 0; i < Model.Headlines.Count; i++)
        {
            <div class="column">
                <div class="head">
                    <span class="headline @(headlineStyles[i])">@Model.Headlines.ElementAt(i)</span>
                    <p>
                        <span class="headline hl4">by @subTitles[i]</span>
                    </p>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quae in controversiam veniunt, de iis, si placet, disseramus. Itaque primos congressus copulationesque et consuetudinum instituendarum voluntates fieri propter voluptatem; Quae diligentissime contra Aristonem dicuntur a Chryippo. Te ipsum, dignissimum maioribus tuis, voluptasne induxit, ut adolescentulus eriperes P. Tum ille timide vel potius verecunde: Facio, inquit.</p>
                <p>Quamquam te quidem video minime esse deterritum. Dempta enim aeternitate nihilo beatior Iuppiter quam Epicurus; Idemne, quod iucunde? Nunc ita separantur, ut disiuncta sint, quo nihil potest esse perversius. Obsecro, inquit, Torquate, haec dicit Epicurus? Sed quae tandem ista ratio est? Tum ille: Tu autem cum ipse tantum librorum habeas, quos hic tandem requiris? Prave, nequiter, turpiter cenabat; Quis non odit sordidos, vanos, leves, futtiles?</p>
                <p>Duo Reges: constructio interrete. Quid dubitas igitur mutare principia naturae? Theophrasti igitur, inquit, tibi liber ille placet de beata vita? Ut id aliis narrare gestiant? Quae sequuntur igitur? Dic in quovis conventu te omnia facere, ne doleas. Idemque diviserunt naturam hominis in animum et corpus.</p>
            </div>
        }
    </div>
</div>
</body>
</html>